@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;0,700;1,400;1,600&display=swap');

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* --Common Style-- */

:root{
  --main-color:#92734d;
  --second-color:#2a2624;
  --third-color:#cad8dd;
}

body{
  min-height: 100vh;
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  display: grid;
  grid-template-rows: auto 1fr auto;

}

header{
  background-color: #fff ;
  padding: 5px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.exchange-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  padding: 10px 20px 5px 0; /* Ajuste de padding */
}

.exchange-rate-display {
  text-align: right;
  font-size: 0.95rem; /* Un poco más pequeño para ser sutil */
  padding: 8px 20px;
  color: #fff;
  font-weight: 600;
  background: linear-gradient(135deg, var(--main-color), #7a5e3d); /* Degradado sutil */
  border-radius: 50px; /* Forma de píldora */
  box-shadow: 0 4px 10px rgba(146, 115, 77, 0.3); /* Sombra suave del mismo color */
  letter-spacing: 0.5px;
  transition: transform 0.3s ease;
}

.exchange-rate-display:hover {
  transform: translateY(-2px); /* Pequeña animación al pasar el mouse */
}

#rate-value {
  color: #fff; 
  font-size: 1.1rem;
  font-weight: 800;
  margin: 0 5px;
}

.nav-menu{
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;

}

.nav-menu ul{
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.nav-menu li {
  position: relative;
  margin: 0 10px;
}

.nav-menu li a{
  text-decoration: none;
  color: #000 ;
  display: inline-block;
  position: relative;
  font-weight: bold;
}

.logo{
  height: 80px;
  width: 80px;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 100px;
}

.logo-container span{
  font-weight: 600;
  font-size: 1.3rem;
  cursor: pointer;
}

.logo img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.nav-menu a::after{
  content: '';
  position: absolute;
  bottom: -5px;  
  height: 2px;
  background-color: var(--main-color) ;
  transition: width 0.3s ease;
  width: 0;
  left: 50%;
  transform: translateX(-50%);
}


.nav-menu a:hover::after{
  width: 100%;
}

.logo-container span:hover{
  color: var(--second-color);
}

.menu-icon{
  display: none;
}

#menu-toggle{
  display: none;
}

  /* ----SECTION- 1---- */

.section-1{
  padding: 150px 0 150px 0;
  background-color: var(--third-color);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 1;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  transition: background-image 1.5s ease-in-out;
}

.slider-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.slider-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  
  opacity: 0; 
  transition: opacity 1.5s ease-in-out; 
}

.slider-image.active {
  opacity: 1;
}

.title{
  font-size: 3rem;
  font-weight: 600;
  max-width: 25ch;
  line-height: 1.3;
}

.section-1 p{
  font-size: 1.4rem;
}

.boton-1{
  padding: 2px 10px;
  border-radius: 5px;
  border: none;
  background-color: #374c55;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
  text-decoration: none;
  transition: 0.2s;
}

.boton-1 i{
  margin-left: 10px;
  width: 0;
  overflow: hidden;
  transition: 0.5s;
}

.boton-1:hover{
  transition: 0.3s;
}

.boton-1:active{
  transition: 0.3s;
  transform: scale(0.95);
}

.boton-1:hover i{
  width: 25px;
}

/* INFO-SECTION */

.info-section {
  background-color: #fff;
  color: var(--second-color);
  padding: 120px 0;
  text-align: left; 
  position: relative;
}

.img-column img {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 12px;
  box-shadow: 20px 20px 0px var(--third-color); 
  transition: transform 0.3s ease;
}

.img-column img:hover {
  transform: scale(1.02);
}

.features-list {
  margin-top: 40px;
  display: grid;
  gap: 25px; 
}

.features-item {
  display: flex;
  align-items: center; 
  gap: 20px;
  padding: 15px;
  border-radius: 12px;
  transition: background-color 0.2s ease, transform 0.2s ease;
  cursor: pointer;
}

.features-item:hover {
  background-color: #f9f9f9; 
  transform: translateX(10px); 
}

.icon-wrapper {
  font-size: 1.5rem;
  color: #fff;
  background-color: var(--main-color);
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  flex-shrink: 0;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: background-color 0.2s;
}

.features-item:hover .icon-wrapper {
  background-color: var(--second-color);
}

.feature-text h3 {
  margin: 0 0 5px 0;
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--second-color);
}

.feature-text p {
  font-size: 0.95rem;
  color: #666;
  margin: 0;
  line-height: 1.5;
}
.content-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.img-column{
  flex: 1;
  margin: 20px 0 20px 0;
}

.img-column img{
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;
}

.text-column{
  flex: 2;
}

/* SECTION - 3 */

.section-3 {
  padding: 40px ;
  background-color: var(--third-color);
  color: var(--dark-text);
  text-align: center;
}

.section-3 .title {
  color: var(--second-color);
  font-size: 2.5rem;
  margin-bottom: 10px;
  position: relative;
  display: inline-block;
}



.subtitle {
    font-size: 1.8rem;
    color: var(--second-color); 
    margin-top: 0;
    margin-bottom: 25px;
    font-weight: 600;
    text-align: center;
}

.service-list-container {
    padding: 20px 0;
}

.tramites-list {
    list-style: none; /* Eliminar puntos de lista */
    padding: 0;
    margin: 0;
    display: grid;
    /* Crea dos columnas para pantallas grandes/medianas (mínimo 300px) */
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    text-align: left;
    cursor: pointer;
}

.tramites-list li {
    background-color: #ffffff;
    padding: 15px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 1.1rem;
    font-weight: 400;
    display: flex;
    align-items: center;
    border-left: 5px solid var(--main-color); /* Barra de acento lateral */
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.tramites-list li:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.tramites-list li i {
    color: var(--main-color); /* Color de acento para los íconos */
    margin-right: 15px;
    font-size: 1.3rem;
    min-width: 20px; 
    text-align: center;
}

/* PRODUCTOS */

.products-section {
  padding: 60px 0;
  text-align: center;
  background-color: #374c55;
}

.products-section .section-title {
  font-size: 2.8rem;
  color: #fff;
  margin-bottom: 50px;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr)); 
  gap: 20px;
}

.product-card {
  background-color: #fcfcfc;
  border: 1px solid var(--third-color);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.product-card:hover {
  transform: translateY(-5px); 
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.product-card img {
  width: 100%;
  height: 100%; 
  object-fit: cover; 
  border-bottom: 1px solid var(--third-color);
}

.product-info {
  padding: 20px 15px;
  text-align: left;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.product-info h3 {
  color: var(--second-color);
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 1.5rem;
}

.product-info p {
  color: #666;
  font-size: 0.95rem;
  margin-bottom: 15px;
  min-height: 40px; 
}

.price {
  display: block;
  font-size: 1.8rem;
  color: var(--main-color);
  font-weight: 700;
  margin-bottom: 15px;
}

.btn-detail {
  display: block;
  padding: 10px;
  background-color: var(--second-color);
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-weight: 600;
  transition: background-color 0.3s ease;
  text-align: center;
}

.btn-detail:hover {
  background-color: var(--main-color);
}

/* UBICACION */

.location-section {
  padding: 60px 0;
  background-color: #f7f7f7; 
}


.location-section .section-title {
  text-align: center;
  margin-bottom: 40px;
  font-size: 2.8rem;
  color: var(--second-color);
}

.location-content {
  display: flex;
  gap: 30px;
  align-items: stretch; 
}

.map-column, .info-column {
  flex: 1; 
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08); 
}

.map-column iframe {
  border-radius: 6px;
}

.info-column h3, .info-column h4 {
  color: var(--main-color);
  border-bottom: 2px solid var(--third-color);
  padding-bottom: 5px;
  margin-top: 20px;
}
.info-column h3 {
  margin-top: 0;
}


.info-column ul {
  list-style: none;
  padding: 0;
}

.contact-details li, .hours-list li {
  margin-bottom: 15px;
  font-size: 1.1rem;
  color: #000;
  cursor: pointer;
}

.contact-details i {
  color: var(--main-color);
  margin-right: 10px;
  width: 20px;
}

.contact-details li i:hover{
 color: var(--second-color);
}


/* FOOTER */

footer{
  background-color: var(--main-color);
  color: #fff;
  margin-top: 60px;
  padding: 20px 0 20px 0;
}

.footer-wrapper{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  text-align: center;
  padding: 20px 0;
}

.footer-left{
  flex: 1;
  text-align: left;
}

.footer-left h3{
  font-size: 1.6rem;
  font-weight: 600;
  margin: 0;
}

.footer-left p{
  font-size: 1rem;
  margin: 5px auto 0 0;
}

.footer-right{
  display: flex;
  gap: 20px;
  flex-direction: column;
  max-width: 400px;
}

.contact-item{
  display: flex;
  align-items: center;
  gap: 15px;
}

.icon-circle{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--second-color);
  color: #fff;
  font-size: 1.1rem;
  max-width: 40px;
  cursor: pointer;

}

.contact-text a{
  color: #fff;
  text-decoration: none;
  font-size: 1.05rem;
  transition: color 0.3s ease;
}

.contact-text a:hover{
  color: var(--second-color);
}

.oculto {
  opacity: 0;
  transform: translateY(50px);
  transition: all 1s ease-out;
  
}

.mostrar {
  opacity: 1;
  transform: translateY(0);
  
}

.retraso-1{
  transition-delay: 0.2s;
}

.retraso-2{ 
  transition-delay: 0.4s;
}

.retraso-3{ 
  transition-delay: 0.6s;
}
.retraso-4{ 
  transition-delay: 0.7s;
}
 /* --- MEDIA --- */

@media (min-width: 992px) {
  .container {
    max-width: 1300px;
  }

  .wrapper-card {
  gap: 40px;
  }
}

@media (max-width: 768px) {

  .exchange-container{
    padding: 5px 15px 0 0;
  }

  .exchange-rate-display{
    font-size: 0.8rem;
    padding: 6px 12px;
    box-shadow: none;
  }

  #rate-value{
    font-size: 0.95rem;
  }

  .section-1{
    padding: 100px 0;
  }

  .title {
    font-size: 2.2rem;
  }

  .logo-container span{
    font-size: 1.2rem;
  }

  .logo-container .logo{
    height: 70px;
    width: 70px;
  }
    
  .menu-icon{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 80px;
    height: 35px;
    cursor: pointer;
    z-index: 150;
    order: 3;
  }

  .menu-icon .line{
    width: 100%;
    height: 5px;
    background-color: #000;
    transition: all 0.3s ease;
  }

   #menu-toggle:checked ~ ul {
    transform: translateX(0); 
  }

  #menu-toggle:checked ~ .menu-icon .line:nth-child(1) {
    transform: rotate(45deg) translate(6px, 6px);
  }
  
  #menu-toggle:checked ~ .menu-icon .line:nth-child(2) {
    opacity: 0;
    }

  #menu-toggle:checked ~ .menu-icon .line:nth-child(3) {
    transform: rotate(-45deg) translate(10px, -10px);
  }
 
  .nav-menu ul {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    padding-top: 100px; 
    transform: translateX(100%); 
    transition: transform 0.4s ease-in-out;
    z-index: 100;
    gap: 20px;
    padding-top: 80px;
  }
    
  .nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    gap: 20px;
  }

  .nav-menu ul li {
    width: 100%;
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid #eee;
    margin: 0;
    transition: background-color 0.3s ease;
  }

  .nav-menu ul li:last-child {
    border-bottom: none;
  }

  .nav-menu ul li:hover,
  .nav-menu ul li:focus-within{
    background-color: var(--third-color);
  }

  .nav-menu ul li:hover a,
  .nav-menu ul li:focus-within a{
    color: var(--second-color);
  }

  .nav-menu a::after{
    content: none;
  }

  .content-wrapper {
    flex-direction: column;
    gap: 20px;
  }
    
  .img-column, .text-column {
    flex: auto; 
    width: 100%;
  }

  .img-column{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .tramites-list {
    grid-template-columns: 1fr;
  }
  .footer-wrapper{
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .footer-right{
    margin-left: 0;
    margin-right: 0;
  }

  .footer-left{
    text-align: left;
  }

  .location-content {
    flex-direction: column;
  }

  .location-section {
    padding: 40px 0;
  }
}

@media (max-width: 480px) {
    
  .container{
    padding: 0 10px;
  }

  .section-1{
    padding: 80px 0;
  }

  .title {
    font-size: 2.2rem; 
  }

  .container {
    padding: 0 10px; 
  }

  .section-1 p{
    font-size: 1.2rem;
  }

  .wrapper-card{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .wrapper-card .card{
    margin: 0;
  }

  .footer-wrapper{
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    padding-left: 10px;
  }

  .footer-left h3{
    font-size: 1.2rem;
  }

  .footer-left p{
    font-size: 0.8rem;
  }

  .footer-right{
    margin-right: auto;
    margin-left: 0;
    padding: 0;
    gap: 12px;
  }

  .footer-right .icon-circle{
    height: 30px;
    width: 30px;
  }

  .footer-right .icon-circle i{
    font-size: 0.9rem;
  }

  .footer-right .contact-text a{
    font-size: 0.9rem;
  }
}


/* KEYFRAME */

@keyframes fadeInUp{
  from {
    opacity: 0;
    transform: translateY(40px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

