.products-section {
  padding: 100px 0;
  text-align: center;
  background-color: #91C6BC;
  
}

.products-section .section-title {
  font-size: 2.8rem;
  color: var(--white); 
  margin-bottom: 50px;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: relative;
  display: inline-block;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr)); 
  gap: 35px;
  padding: 0 15px;
}

.product-card {
  background-color: var(--white);
  border-radius: 16px;
  overflow: hidden; 
  position: relative; 
  text-align: left;
  height: 100%;
  display: flex;
  flex-direction: column;
  border: 2px solid transparent; 
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.product-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 35px rgba(0,0,0,0.1);
  border-color: var(--accent-color);
}

.product-card img {
  width: 100%;
  height: 250px; 
  object-fit: cover; 
  border-bottom: 4px solid var(--accent-color);
}

.product-info {
  padding: 25px;
  text-align: left;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-color: var(--white);
}

.product-info h3 {
  color: var(--second-color);
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.3;
  transition: color 0.3s;
}

.product-card:hover .product-info h3 {
  color: var(--accent-color);
}

.product-info p {
  color: #666;
  font-size: 0.95rem;
  margin-bottom: 20px;
}

.price {
  display: block;
  font-size: 1.8rem;
  color: var(--main-color);
  font-weight: 800;
  margin-bottom: 20px;
  margin-top: auto;
}

.price-bs {
  display: block;
  font-size: 1.4rem;
  color: var(--second-color);
}
.price-usd {
  display: block;
  font-size: 0.9rem;
  color: #888;
  font-weight: 600;
  text-transform: uppercase;
}

.btn-detail {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 12px 25px;
  background-color: var(--accent-color);
  border: 2px solid var(--accent-color);
  color: var(--white);
  text-decoration: none;
  border-radius: 8px;
  font-weight: 600;
  transition: all 0.3s ease;
  text-align: center;
  font-size: 1.1rem;
  overflow: hidden;
}

.icon-wrapper {
  position: relative;
  width: 20px;  
  height: 20px; 
  display: flex;
  align-items: center;
  justify-content: center;
  order: 2;
}

.icon-wrapper i {
  position: absolute; 
  transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.icono-normal {
  opacity: 1;
  transform: translateX(0) scale(1);
}

.icono-hover {
  opacity: 0;
  transform: translateX(-20px) scale(0.5);
}

.btn-detail:hover {
  background-color: var(--second-color);
  border-color: var(--second-color);
  color: var(--white);
}

.btn-detail:hover .icono-normal {
  opacity: 0;
  transform: translateX(0) scale(0.95);
}

.btn-detail:hover .icono-hover {
  opacity: 1;
  transform: translateX(0) scale(0.95);
}
